
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 181.4rem;
}.mask-group-aFy {
  width: 100%;
  height: 118rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

  .desktop-1-Ys1 {
    position: relative;
    background-color: #bacae3;
    width: 100%;
    height: 100%;

    .background-zcX {
      height: 75.2rem;
      overflow: hidden;
      box-shadow: 1.1rem 1.1rem 1.5rem rgba(114, 84, 138, 0.7699999809);
      background-color: #ffffff;
      border-radius: 1.5rem;
      width: 114.3rem;
      position: absolute;
      left: 41.8rem;
      top: 32.2rem;

      .mens-shoes-Ga3 {
        font-size: 3.2rem;
        line-height: 1.2;
        width: 13.3rem;
        position: absolute;
        top: 23.7rem;
        font-weight: 400;
        color: #000000;
        font-family: Bebas Neue, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.9rem;
        left: 64.6rem;
        text-align: center;
      }
      .air-more-uptempo-96k-Uw1 {
        top: 28.4rem;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.2;
        color: #000000;
        font-family: Bebas Neue, 'Source Sans Pro';
        width: 36.4rem;
        left: 64.6rem;
        text-align: center;
        white-space: nowrap;
        height: 5.8rem;
        position: absolute;
      }
      .its-all-about-the-a-i-r-the-air-more-uptempo-96-refreshes-an-original-that-has-reigned-supreme-for-more-than-20-years-with-a-design-inspired-by-high-flying-basketball-style-and-90s-graffiti-art-these-kicks-cant-help-but-turn-heads-off-court-xbH {
        width: 40.1rem;
        left: 64.6rem;
        top: 39.2rem;
        line-height: 1.2575;
        font-family: Arima Madurai, 'Source Sans Pro';
        height: 15.1rem;
        position: absolute;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
      }
      .mrp-16-99500-wCK {
        line-height: 1.2;
        color: #000000;
        font-family: Bebas Neue, 'Source Sans Pro';
        white-space: nowrap;
        width: 13.9rem;
        height: 2.9rem;
        position: absolute;
        left: 64.8rem;
        top: 34.7rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .air-more-uptempo-96-cZM {
        position: absolute;
        left: 6.4337rem;
        top: 5.5499rem;
        object-fit: contain;
        vertical-align: top;
        width: 104.6619rem;
        height: 10.5973rem;
      }
    }
    .shoe-1-4AT {
      width: 100.6563rem;
      height: 100.5883rem;
      position: absolute;
      left: 0;
      top: 17.4rem;

      .ellipse-1-BVy {
        width: 39.1rem;
        height: 2.6rem;
        position: absolute;
        left: 50.2rem;
        top: 77rem;
        object-fit: contain;
        vertical-align: top;
      }
      .air-more-uptempo-96-shoes-x7j3ls-1-uB5 {
        vertical-align: top;
        width: 100.6563rem;
        height: 100.5883rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
      }
    }
    .navigation-1ju {
      top: 10.1rem;
      width: 92.2rem;
      height: 11.1rem;
      position: absolute;
      left: 39.7rem;

      .nike-mobile-1-YUw {
        object-fit: cover;
        vertical-align: top;
        width: 19.8rem;
        height: 11.1rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .nav-FeF {
        column-gap: 2.9rem;
        align-items: center;
        width: 74.7rem;
        height: 4.8rem;
        position: absolute;
        left: 17.5rem;
        top: 3rem;
        display: flex;

        .new-featured-MhH {
          text-align: center;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.2;
          color: #000000;
          font-family: Bebas Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .men-5NP {
          color: #000000;
          font-family: Bebas Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.2;
        }
        .women-22j {
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.2;
          color: #000000;
          font-family: Bebas Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
        .kids-kDd {
          color: #000000;
          font-family: Bebas Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.2;
        }
        .sale-Vh1 {
          color: #000000;
          font-family: Bebas Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.2;
        }
        .customise-pDV {
          font-weight: 400;
          line-height: 1.2;
          color: #000000;
          font-family: Bebas Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 4rem;
        }
      }
    }
    .icon-cart-wZ1 {
      left: 140.3rem;
      top: 13.1rem;
      display: flex;
      align-items: center;
      opacity: 0.8;
      width: 15.8rem;
      height: 5rem;
      position: absolute;

      .vector-47q {
        margin-right: 4.4rem;
        width: 5.1rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-ars {
        flex-shrink: 0;
        width: 6.3rem;
        height: 4.1rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
}
